.profile {
  height: 100%;
  width: 30px;
  min-width: 30px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
  transition: width 0.5s;
  overflow: hidden;
}

#profile-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
